<!DOCTYPE html>
<html>
    <head>
        <title>商城消费统计</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="__CSS__/skin.css" rel="stylesheet" type="text/css">
        <link href="__CSS__/jquery-ui.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        <!--body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            background-color: #EEF2FB;
            font-size: 12px;
        }
        -->
        </style>
    </head>
    <body>
	<div class="container">
		<div>
			<div  id="user-tabs">
				<span class="user-gray" onclick="window.location.href='{:U(\"GameShop/index\")}'">数据展示</span>
				<span>图表展示</span>
			</div>
			<hr/>
			
			<div>
				<table class="explain">
					<thead>
					</thead>
					<tbody style="font-family:Mingliu">
						<tr>
							<td width="5%"  class="tableleft"><b>说明：</b></td>
						</tr>
						<tr>
							<td width="95%" class="tableleft">1、查询某天购买物品数量所占比例</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="topinfo">
				<div>
					<span>服务器:</span>
					<select id="serverId">
						<volist name="serverList" id="sl">
						<option value="{$sl['g_id']}">{$sl['g_name']}</option>
						</volist>
						<option value="0">全部</option>
					</select>
					<select id="money_type">
						<option value="3">元宝</option>
						<option value="4">绑定元宝</option>
						<option value="5">礼券</option>
					</select>
					<span>时间:</span>
					<input type="text" class="input1" id="date" value="{$today}" />
					<input type="button" value="查询" id="querybtn"/>
				</div>
			</div>
			<div style="clear:both"></div>
			<div>
				<table width="100%" cellpadding="0" cellspacing="0" class='table_blue2'>
					<tbody id="chart_tbody">
						<tr><div id="chart" style="width: 100%; min-height: 600px;"></div></tr>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>

	<!--弹出覆盖层-->
	<div class="overlay" style="display: none">
		<table style="width: 220px; height: 100%; margin: 0 auto;">
			<tr>
				<td style="text-align: center">
					<img src='__IMG__/ajax-loader.gif' />
				</td>
			</tr>
		</table>
	</div>

	<!-- 服务器 -->
        <div id="sform" style="display:none">
            <div class="ajaxform">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
				<tr>
					<td>
					<volist name="serverList" id="sld" key="k">
                        <if condition="$k%5 eq 0">
                            <br/>
                            <br/>
                        </if>
                        <input type="radio" name="db" value="{$sld['g_id']}" class="cbox" id="s{$k}"/>
                        <label for="s{$k}">
                            {$sld['g_name']}
                        </label>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </volist>
					</td>
				</tr>
                </table>
            </div>
        </div>
        
    <script src="__STATIC__/jquery.js" type="text/javascript">
    </script>
    <script src="__JS__/jquery-ui.js" type="text/javascript">
    </script>
    <script src="__JS__/function.js" type="text/javascript">
    </script>
	<script src="__STATIC__/amcharts/amcharts.js" type="text/javascript">
	</script>
	<script src="__STATIC__/amcharts/pie.js" type="text/javascript">
	</script>
	<script src="__STATIC__/chart-function.js" type="text/javascript">
	</script>
	<script type="text/javascript">
	$(document).ready(function(){
		//时间插件
		$("#date").datepicker();

		showTitle("货币相关查询:商城消费统计");
		
        $("#serverId").change(function(){
            if ($("#serverId").val() == 0) {
                $("#sform").dialog({
                    height: 500,
                    width: 700,
                    buttons: {
                        "确认": function(){
                            var item = $(':radio[name="db"]:checked').val();
                            $("#serverId").val(item);
                            $(this).dialog("close");
                        },
                        "关闭": function(){
                            $(this).dialog("close");
                        }
                    }
                })
            }
        });
        
    	$('#querybtn').click(function(){
    		getChartData();
    	});
        
	});
			
	function getChartData(){
		$.ajax({
			type : 'POST',
			url : '{:U("GameShop/getChartData")}',
			dataType : 'json',
			data : {
				serverId : $("#serverId").val(),
				date : $('#date').val(),
				moneyType : $('#money_type').val()
			},
			beforeSend : function() {
				$('.overlay').show();
				$('#chart').html("");
			},
			success : function (data) {
				$('.overlay').hide();
				if(data.list!=null&&data.list!=''){
					showSimplePie(data.list,'chart');				
				}else {
					$("#chart").html("没有数据！");
				}
			},
			error : function () {
				$("#chart").html("请求失败！");
			}
		});
	}
	</script>
</body>
</html>