<!DOCTYPE html>
<html>
    <head>
        <title>新手卡管理--生成</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="__CSS__/skin.css" rel="stylesheet" type="text/css">
        <link href="__CSS__/jquery-ui.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        <!--body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            background-color: #EEF2FB;
            font-size: 12px;
        }
        -->
        </style>
    </head>
    <body>
        <div>
            <div id="tabs-1" class="tabitem">
                <div id="user-tabs" style="margin-top:20px;">
                    <span id="1">生成</span>
                    <span id="2" class="user-gray" onclick="window.location.href='{:U(\"NoviceCard/getCardList\")}'">查询</span>
                    <hr/>
                </div>
                <div class="tabitem">
                    <div>
                        <table class="explain">
                            <tbody style="font-family:Mingliu">
                                <tr>
                                    <td width="5%" class="tableleft">
                                        <b>说明：</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="95%" class="tableleft">
                                        1、激活码类型分为5种，其中一种使用过则不可以再使用，不影响其他类型使用;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="95%" class="tableleft">
                                        2、不限制的类型为使用过任何激活码后都可以
                                        <font color = "red">
                                            <b>重复</b>
                                        </font>使用;谨慎生成
                                        <font color = "red">
                                            <b>不限制类型</b>
                                        </font>激活码！
                                    </td>
                                </tr>
                                <tr>
                                    <td width="95%" class="tableleft">
                                        3、
                                        <u>
                                            <b>例如</b>
                                        </u>：使用了
                                        <font color = "red">
                                            <b>A类型</b>
                                        </font>则不可以再使用
                                        <font color = "red">
                                            <b>A类型</b>
                                        </font>，可使用其他没有使用过的类型;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="95%" class="tableleft">
                                        4、导出Excel文件不支持IE浏览器！
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="toptable">
                            <tbody>
                                <tr>
                                    <td width="6%" class="tableright">
                                        <span>选择服务器：</span>
                                    </td>
                                    <td width="94%" class="tableleft">
                                        <select id="serverId">
                                            <volist name="serverList" id="sl">
                                                <option value="{$sl['g_id']}">{$sl['g_name']}</option>
                                            </volist>
                                            <option value="0">全部</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="6%" class="tableright">
                                        <span>激活码类型：</span>
                                    </td>
                                    <td width="94%" class="tablerleft">
                                        <select id="codeType">
                                        	<for start="1" end="100">
                                        		<if condition="$i eq 6">
                                        			<option value="{$i}" selected="selected">不限类型</option>
                                        		<else/>
													<option value="{$i}">{$i}</option>
                                        		</if>
											</for>
                                        </select>
                                        <label>
                                            <span>生成数量：</span>
                                            <input type='input' class='input1' size='6' id="num"/><span>
                                                <font color="red">
                                                    <i><b>注</b>：生成上限为10000个！</i>
                                                </font>
                                            </span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="6%" class="tableright">
                                        <span>时限：</span>
                                    </td>
                                    <td width="94%" colspan="2" class="tableleft">
                                        <input type="radio" name="sxGroup" value="1" checked="checked"/>
										<span>不限</span>
                                        <input type="radio" name="sxGroup" value="2"/>
										<span>限时</span>
                                        <label id="sx_model" style="display:none">
                                            <span>限时至：</span>
                                            <input type="text" class="input1" id='sxtime' onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>失效
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="6%" class="tableright">
                                        <span>礼包：</span>
                                    </td>
                                    <td width="94%" class="tableleft labc">
                                        <span>礼品ID：</span>
                                        <span class="input1">
                                        	<input type="text" size="13" id="toolsId" style="border: 0 none;"/>
											<span class="mini-buttonedit-icon" id="tools_icon">
												&nbsp;&nbsp;&nbsp;
											</span>
										</span>
                                    </td>
                                </tr>
								<tr>
									<td colspan="2">
										<input type="button" value="确认生成" id="createCode"/>
									</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="clear: both">
                    </div>
                    <div>
                        <h3>生成的激活码</h3>
                        <table class="mytable" id="mytable">
                            <thead>
                                <tr>
                                    <th>激活码</th>
                                    <th>激活码类型</th>
                                    <th>激活码详情</th>
                                    <th>服务器</th>
                                    <th>角色ID</th>
                                    <th>使用时限</th>
                                </tr>
                            </thead>
                            <tbody id="askBody">
                            </tbody>
                        </table>
                        <div class="exportbtn" style="display:none" id="export_div">
                            <input type="button" value="导出Excel" id="exportbtn" onClick ="tableToExcel('mytable')"/>
                        </div>
                    </div>
                </div>
                <div style="clear:both">
                </div>
            </div>
        </div>

		<!-- 服务器 -->
        <div id="sform" style="display:none">
            <div class="ajaxform">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
				<tr>
					<td>
					<volist name="serverList" id="sld" key="k">
                        <if condition="$k%5 eq 0">
                            <br/>
                            <br/>
                        </if>
                        <input type="radio" name="db" value="{$sld['g_id']}" class="cbox" id="s{$k}"/>
                        <label for="s{$k}">
                            {$sld['g_name']}
                        </label>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </volist>
					</td>
				</tr>
                </table>
            </div>
        </div>
		
        <!--弹出覆盖层-->
        <div class="overlay" style="display:none">
            <table style="width:220px;height:100%;margin:0 auto;">
                <tr>
                    <td style="text-align:center">
                        <img src='__IMG__/ajax-loader.gif'/>
                    </td>
                </tr>
            </table>
        </div>
		
		<!-- 道具ID与道具名称 -->
        <div id="dform" style="display:none">
            <div class="ajaxform">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td colspan='2'>
                                道具ID与道具名称关系：
                            </td>
                        </tr>
                        <tr>
                            <td width="10%" style="text-align:left">
                                &nbsp;
                            </td>
                            <td width="90%" style="text-align:right">
                                <label>
                                    <span>类型1:</span>
                                    <select id="t_type1">
                                        <option value="">请选择</option>
                                    </select>
                                </label>
                                <label>
                                    <span>类型2:</span>
                                    <select id="t_type2">
                                        <option value="">请选择</option>
                                    </select>
                                </label>
                                <label>
                                    <span>类型3:</span>
                                    <select id="t_type3">
                                        <option value="">请选择</option>
                                    </select>
                                </label>
                                <label>
                                    <span>道具名称或道具ID:</span>
                                    <input type="text" id="searchKey"/ ><input type="button" value="搜索" id="toolSearch"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='2'>
                                <table class="tooltable">
                                    <thead>
                                        <tr>
                                            <th>道具ID</th>
                                            <th>道具名称</th>
                                            <th>类型1</th>
                                            <th>类型2</th>
                                            <th>类型3</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="dform_body">
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="pagehtml2" style="float:right;margin-right:20px">
                </div>
            </div>
        </div>
		
        <script src="__STATIC__/jquery.js" type="text/javascript">
        </script>
        <script src="__JS__/jquery-ui.js" type="text/javascript">
        </script>
        <script src="__JS__/function.js" type="text/javascript">
        </script>
        <script src="__JS__/tableToExcel.js" type="text/javascript">
        </script>
	    <script src="__STATIC__/My97DatePicker/WdatePicker.js" type="text/javascript">
	    </script>
        <script type="text/javascript">
            $(document).ready(function(){
                showTitle("GM工具:新手卡");
				
                $("#serverId").change(function(){
                    if ($("#serverId").val() == 0) {
                        $("#sform").dialog({
                            height: 500,
                            width: 700,
                            buttons: {
                                "确认": function(){
                                    var item = $(':radio[name="db"]:checked').val();
                                    $("#serverId").val(item);
                                    $(this).dialog("close");
                                },
                                "关闭": function(){
                                    $(this).dialog("close");
                                }
                            }
                        })
                    }
                });
                
                //道具ID点击事件
                $("#tools_icon").click(function(){
                    getToolsList(1);
                });
                
                //道具搜索
                $("#toolSearch").click(function(){
                    getToolsList(1);
                });
                
                $("#t_type1").change(function(){
                    var select_value = $("#t_type1").val();
                    if (select_value != '') {
                        var type2_map = $("body").data("type2_map");
                        var list = type2_map[select_value];
                        var type2_html = "<option value=''>请选择</option>";
                        for (var i in list) {
                            type2_html += "<option value='" + i + "'>" + list[i] + "</option>";
                        }
                        $("#t_type2").html(type2_html);
                    }
                });
                
                $("#t_type2").change(function(){
                    var type1_value = $("#t_type1").val();
                    var select_value = $("#t_type2").val();
                    if (select_value != '') {
                        var type3_map = $("body").data("type3_map");
                        var list = type3_map[type1_value][select_value];
                        var type3_html = "<option value=''>请选择</option>";
                        for (var i in list) {
                            type3_html += "<option value='" + i + "'>" + list[i] + "</option>";
                        }
                        $("#t_type3").html(type3_html);
                    }
                });
                
                //时限选择
                $("input[name=sxGroup]").click(function(){
                    var type = $(this).val();
                    type == "2" ? $("#sx_model").show() : $("#sx_model").hide();
                });
				
                //确认生成
                $("#createCode").click(function(){
                    var codeType = $("#codeType").val(); //激活码类型
                    var num = $("#num").val(); //生成数量
                    var serverId = $("#serverId").val(); //服务器
                    var sxGroup = $("input[name=sxGroup]:checked").val(); //时限
                    var sxtime = $("#sxtime").val();
                    var toolsId = $("#toolsId").val(); //礼包
                    if (sxGroup == 1) {
                        sxtime = 0;
                    }
                    
                    if (num == "") {
                        alert("请输入生成数量!");return false;
                    }else if (isNaN(num)) {
                            alert("生成数量必须为数字！");return false;
                    }else if (num > 10000) {
                            alert("请输入小于100000的值");return false;
                    }else if (sxGroup == 2 && sxtime == '') {
                            alert("请输入失效时间！");return false;
                    }else if (toolsId == "") {
                            alert("请输入礼品ID！");return false;
                    }
                    
                    $.ajax({
                        type: 'post',
                        url: '{:U("NoviceCard/createCard")}',
                        dataType: 'json',
                        data: {
                            codeType: codeType,
                            num: num,
                            serverId: serverId,
							sxGroup:sxGroup,
                            sxtime: sxtime,
                            toolsId: toolsId
                        },
                        beforeSend: function(){
                            $(".overlay").show();
							$("#export_div").hide();
                        },
                        complete: function(){
                            $(".overlay").hide();
                        },
                        success: function(data){
                            if (data.status==0) {
                                alert(data.info);
                            }else {
                                var html = "";
								var list = data.list;
								var serverList = data.serverList;
                                for (var i in list) {
                                    html += "<tr>";
                                    html += "<td>" + list[i]["code"] + "</td>";
                                    if(parseInt(list[i]["type"])==6){
										html += "<td>不限</td>";
									}else {
										html += "<td>" + list[i]["type"] + "</td>";
									}
                                    html += "<td>" + list[i]["item_id"] + "</td>";
                                    html += "<td>" + serverList[list[i]["ip"]]['g_name'] + "</td>";
                                    if(parseInt(list[i]["player_id"])==0){
										html += "<td>不限</td>";
									}else {
										html += "<td>" + list[i]["player_id"] + "</td>";
									}
                                    if(parseInt(list[i]["end_time"])==0){
										html += "<td>不限</td>";
									}else {
										html += "<td>" + getDate(parseInt(list[i]["end_time"])) + "</td>";
									}
                                    html += "</tr>";
                                }
                                $("#export_div").show();
                                $("#askBody").html(html);
                            }
                        },
                        error: function(){
                            alert('请求失败！');
                        }
                    })
                    
                })
				
            });
            
            //获取道具ID与道具名称数据
            function getToolsList(page){
                $.ajax({
                    type: "post",
                    url: "{:U('ToolsApply/getToolsList')}",
                    dataType: "json",
                    data: {
                        searchKey: $("#searchKey").val(),
                        type1: $("#t_type1").val(),
                        type2: $("#t_type2").val(),
                        type3: $("#t_type3").val(),
                        pageSize: 10,
                        curPage: page,
                    },
                    cache: false,
                    success: function(data){
                        if (data.list != null) {
                            var html = "";
                            var type1_html = "<option value=''>请选择</option>";
                            
                            var type1_map = data.type1_map;
                            var type2_map = data.type2_map;
                            var type3_map = data.type3_map;
                            
                            for (var i in type1_map) {
                                type1_html += "<option value='" + i + "'>" + type1_map[i] + "</option>";
                            }
                            
                            if ($("body").data('type1_map') != '1') {
                                $("#t_type1").html(type1_html);
                            }
                            
                            $("body").data('type1_map', '1');
                            $("body").data('type2_map', type2_map);
                            $("body").data('type3_map', type3_map);
                            
                            for (var i in data.list) {
                                var type2_name = '';
                                var type3_name = '';
                                if (typeof(type2_map[data.list[i]["t_type1"]]) == 'undefined') {
                                    type2_name = '未知';
                                }
                                else 
                                    if (typeof(type2_map[data.list[i]["t_type1"]][data.list[i]["t_type2"]]) == 'undefined') {
                                        type2_name = '未知';
                                    }
                                    else {
                                        type2_name = type2_map[data.list[i]["t_type1"]][data.list[i]["t_type2"]];
                                    }
                                //var type2_name = type2_map[data.list[i]["t_type1"]][data.list[i]["t_type2"]];
                                var type3_name = '';
                                if (typeof(type3_map[data.list[i]["t_type1"]]) == 'undefined') {
                                    type3_name = '未知';
                                }
                                else 
                                    if (typeof(type3_map[data.list[i]["t_type1"]][data.list[i]["t_type2"]]) == 'undefined') {
                                        type3_name = '未知';
                                    }
                                    else 
                                        if (typeof(type3_map[data.list[i]["t_type1"]][data.list[i]["t_type2"]][data.list[i]["t_type3"]]) == 'undefined') {
                                            type3_name = '未知';
                                        }
                                        else {
                                            type3_name = type3_map[data.list[i]["t_type1"]][data.list[i]["t_type2"]][data.list[i]["t_type3"]];
                                        }
                                
                                if (typeof(type2_name) == 'undefined') {
                                    type2_name = '未知';
                                }
                                
                                html += "<tr>";
                                html += "<td class='t_code'>" + data.list[i]["t_code"] + "</td>";
                                html += "<td class='t_name'>" + data.list[i]["t_name"] + "</td>";
                                html += "<td>" + type1_map[data.list[i]["t_type1"]] + "</td>";
                                html += "<td>" + type2_name + "</td>";
                                html += "<td>" + type3_name + "</td>";
                                html += "<td><span class='choose'>选择</span></td>";
                                html += "</tr>";
                            }
                            $("#dform_body").html(html);
                            $("#pagehtml2").html(data.pageHtml);
                        }
                        else {
                            $("#pagehtml2").html("");
                            $("#dform_body").html("<tr><td colspan='8'>没有记录！</td></tr>");
                        }
						
                        //选择道具
                        $(".choose").live("click", function(){
                            var code = $(this).parents('tr').find(".t_code").html(); //道具ID
                            $("#toolsId").val(code);
                            $("#dform").dialog("close");
                        });
                        
                        $("#dform").dialog({
                            height: 500,
                            width: 1140,
                            buttons: {
                                "关闭": function(){
                                    $(this).dialog("close");
                                }
                            }
                        });
                    },
                    error: function(){
                        alert("请求失败");
                    }
                })
            }
            
            //跳到相应页面 (道具ID与名称关系)
            function go1(){
                var pagenum = $("#page1").val();
                if (pagenum == '' || isNaN(pagenum) || pagenum <= 0) {
                    alert('请输入一个正整数！');
                    $("#page1").val(1);
                }
                else {
                    getToolsList(pagenum);
                }
            }

function getDate(tm){
	return new Date(parseInt(tm) * 1000).toLocaleString();
}
        </script>
    </body>
</html>
