<!DOCTYPE html>
<html>
    <head>
        <title>充值统计</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="__CSS__/skin.css" rel="stylesheet" type="text/css">
        <link href="__CSS__/jquery-ui.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        <!--body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            background-color: #EEF2FB;
            font-size: 12px;
        }
        -->
        </style>
    </head>
    <body>
	<div>
		<div>
			<div>
				<table class="explain">
					<thead>
					</thead>
					<tbody style="font-family:Mingliu">
						<tr>
							<td width="5%"  class="tableleft"><b>说明：</b></td>
						</tr>
						<tr>
							<td width="95%" class="tableleft">1、ARPU=付费总额/付费人数</td>
						</tr>
						<tr>
							<td width="95%" class="tableleft">2、日均充值=付费总额/充值天数</td>
						</tr>
						<tr>
							<td width="95%" class="tableleft">3、查询日期=数据来源日期区间</td>
						</tr>
						<tr>
							<td width="95%" class="tableleft">4、ARPU,日均充值数据都以充值元宝数计算</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="topinfo">
				<div>
					<input type="button" value="选择服务器" id ="sel">
					<input type="radio" name="rtype" value="1" checked='checked' id="con1"/>
					<label for="con1">开服时间至</label>
					<input type="text" class="input1" id="finshdate" value="{$today}"/>
					<input type="radio" name="rtype" value="2" id="con2"/>
					<label for="con2">选择区间</label>
					<span id="qujiang" style="display:none">
					<input type="text" class="input1" id="startdate" value="{$today}"/>至
					<input type="text" class="input1" id="enddate" value="{$today}"/></span>
					<input type="button" value="查询" id="querybtn" style="margin-left:20px"/>
				</div>
			</div>
			
			<div style="clear:both"></div>
			
			<div id="tabs-1" class="tabitem">
				<div>
					<table  class="mytable" cellspacing="0" align="center" id="dtable">
						<thead>
							<tr>
								<th>服务器</th>
								<th>开服日期</th>
								<th>查询日期</th>
								<th>充值天数</th>
								<th>充值人数</th>
								<th>充值元宝(Q点*游戏币*金券)</th>
								<th>首充元宝</th>
								<th>首日充值人数</th>
								<th>首日充值总元宝(Q点*游戏币*金券)</th>
								<th>日均充值</th>
								<th>ARPU</th>
							</tr>
						</thead>
						<tbody id="dtatr_body">
						</tbody>
					</table>
				</div>
				
			</div>
			
			<div style="clear:both"></div>
		</div>
		
	</div>
	
		<!-- 服务器 -->
        <div id="sform" style="display:none">
            <div class="ajaxform">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
					<tr>
						<td>
						<volist name="serverList" id="sld" key="k">
	                        <if condition="$k%5 eq 0">
	                            <br/>
	                            <br/>
	                        </if>
	                        <input type="checkbox" name="db" value='{$sld['g_id']}'  class="cbox" id="s{$k}"/>
	                        <label for="s{$k}">
	                            {$sld['g_name']}
	                        </label>
	                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	                    </volist>
						</td>
					</tr>
                </table>
            </div>
        </div>
	
    <script src="__STATIC__/jquery.js" type="text/javascript">
    </script>
    <script src="__JS__/jquery-ui.js" type="text/javascript">
    </script>
    <script src="__JS__/function.js" type="text/javascript">
    </script>
	<script type="text/javascript">
	$(document).ready(function(){
		//时间插件
		$("#startdate").datepicker();
		$("#enddate").datepicker();
		$("#finshdate").datepicker();
		
		showTitle("充值数据分析:充值统计");
		
			//区间与截止到开服时间切换
			$("input[name=rtype]").click(function() {
				var value = $("input[name=rtype]:checked").val();
				if (value == '1') {
					$("#finshdate").show();
					$("#qujiang").hide();
				} else if (value == '2') {
					$("#finshdate").hide();
					$("#qujiang").show();
				}
			});
			
		//服务器选择弹出窗
		$("#sel").click(function() {
				$("#sform").dialog({
					height : 500,
					width : 700,
					buttons : {
						"确认" : function() {
							$(this).dialog("close");
						},
						"关闭" : function() {
							$(this).dialog("close");
						}
					}
				})
			});
			
		
			$("#querybtn").click(function() {
				var db = [];
				$('input[name=db]:checked').each(function() {
					db.push($(this).val());
				});
				
				if(db==''){
					alert('请选择服务器！');return false;
				}
				
				var value = $("input[name=rtype]:checked").val();
				if (value == '2'&&!validator("startdate", "enddate")) {
					return false;
				}
				show(db,value);
			});

		});
	

		function show(db,type) {
			$.ajax({
						type : 'POST',
						url : '{:U("RechargeStatistics/getData")}',
						dataType : 'json',
						data : {
							type : type,
							finshDate : $("#finshdate").val(),
							startDate : $('#startdate').val(),
							endDate : $('#enddate').val(),
							db : db
						},
						beforeSend : function() {
							$("#dtatr_body").html("<tr><td colspan='11'><img src='__IMG__/loading.gif'/></td></tr>");
						},
						success : function(data) {
							var list = data.list;
							if (list != ''&& list!=null) {
								var tbody = "";
								for ( var i in list) {
									tbody += "<tr>";
									tbody += "<td>" + list[i]["server"] + "</td>";
									tbody += "<td>" + list[i]["open_date"] + "</td>";
									tbody += "<td>" + list[i]["query_date"] + "</td>";
									tbody += "<td>" + list[i]["pay_day"] + "</td>";
									tbody += "<td>" + list[i]["pay_people"] + "</td>";
									tbody += "<td>" + list[i]["pay_gold"] + "("+list[i]["pay_amt"]+"*"+list[i]["payamt_coins"]+"*"+list[i]["pubacct_payamt_coins"]+")" + "</td>";
									tbody += "<td>" + list[i]["first_pay_gold"] + "</td>";
									tbody += "<td>" + list[i]["first_day_pay_people"] + "</td>";
									tbody += "<td>" + list[i]["first_day_pay_gold"] ;
									tbody += "("+list[i]["first_day_pay_amt"]+"*"+list[i]["first_day_payamt_coins"]+"*"+list[i]["first_day_pubacct_payamt_coins"]+")";
									tbody += "</td>";
									tbody += "<td>" + Math.round(list[i]["pay_gold"]*100/list[i]["pay_day"])/100 + "</td>";
									tbody += "<td>" + Math.round(list[i]["pay_gold"]*100/list[i]["pay_people"])/100 + "</td>";
									tbody += "</tr>";
								}
								$("#dtatr_body").html(tbody);
								$("#dtatr_body tr:odd").css( "background-color", "#edf2f7");
								$("#dtatr_body tr:odd").css( "background-color", "#e0f0f0");
							} else {
								$("#dtatr_body").html("<tr><td colspan='11'>没有数据！</td></tr>");
							}
						},
						error : function() {
							alert('请求失败');
						}
			});
		}
	</script>
</body>
</html>