<!DOCTYPE html>
<html>
<head>
	<title>玩家击杀BOSS查询</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="<{$res}>/css/skin.css" rel="stylesheet" type="text/css">
	<link href="<{$res}>/css/jquery-ui.css" rel="stylesheet" type="text/css">
	<style type="text/css">
	<!--
	body {
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		background-color: #EEF2FB;
		font-size: 12px;
	}
	-->
	</style>
</head>
<body>
	<div>
		<div>
			<div>
				<table class="explain">
					<thead>
					</thead>
					<tbody style="font-family:Mingliu">
						<tr>
							<td width="5%"  class="tableleft"><b>说明：</b></td>
						</tr>
						<tr>
							<td width="95%" class="tableleft">1、查询当天记录请点击即时查询</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="topinfo">
				<div>
					<label>
						<span>服务器:</span>
						<select id="sip">
							<{foreach from=$ipList item=ip}>
								<option value="<{$ip.s_id}>"><{$ip.s_name}></option>
							<{/foreach}>
							<option value="0" >全部</option>
						</select>
					</label>
					<span>日期:</span>
					<input type="text" class="input1" id="startdate" value="<{$startdate}>"/>
					至<input type="text" class="input1" id="enddate" value="<{$startdate}>"/>
					<select id="code">
						<option value="2">角色名</option>
						<option value="3">角色ID</option>
					</select>
					<input type="text" name="codeValue" id="codeValue"/>
					<input type="button" value="历史查询" id="history" style="margin-left:20px"/>
					<input type="button" value="即时查询" id="jishi" style="margin-left:20px"/>
				</div>
			</div>
			
			<div style="clear:both"></div>
			
			<div id="tabs-1" class="tabitem">	
				<div>
					<table  class="mytable" cellspacing="0" align="center" id="dtable">
						<thead>
							<tr>
								<th width="120">操作时间</th>
								<th width="50">角色id</th>
								<th width="65">角色名</th>
								<th width="60">bossID</th>
								<th width="60">boss名称</th>
							</tr>
						</thead>
						<tbody id="dtatr_body">
						</tbody>
					</table>
					
					<div id="pagehtml" style="float:right;margin-right:20px"></div>
					<div id="example_length" class="dataTables_length"  style="display:none">
						<label>每页显示
							<select id="menu" name="example_length" size="1" aria-controls="example">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50" selected="selected">50</option>
							<option value="100">100</option>
							</select> 条记录
						</label>
					</div>
					
				</div>
				
			</div>
			
			<div style="clear:both"></div>
		</div>
		
		<div style="height:50px">&nbsp;</div>
		
	</div>
	<!-- 服务器 -->
	<div id="dform"  style="display:none">
		<div class="ajaxform">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
				
				<{foreach key=key from=$ipList item=ip}>
					<{if $key%5 eq '0'}>
						<br/><br/>
					<{/if}>
						<input type="radio" name="db" value='<{$ip.s_id}>'  class="cbox"/><span><{$ip.s_name}></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<{/foreach}>
			</table>
		</div>
	</div>
	
	<script src="<{$res}>/js/jquery.js" type="text/javascript"></script>
	<script src="<{$res}>/js/jquery-ui.js" type="text/javascript"></script>
	<script src="<{$res}>/js/function.js" type="text/javascript"></script> 	
	<script type="text/javascript">
		var recharge_query = {
			INIT : function(){
				var self = this;
				
				//时间插件
				$("#startdate").datepicker();
				$("#enddate").datepicker();
				
				showTitle("玩家数据查询:击杀BOSS查询");
				
				$("#jishi").click(function(){
					self.show(1);
				});
				
				$('#history').click(function(){
					self.historyshow(1);
				});
				
				$("#sip").change(function() {
					if($("#sip").val() == 0){
						$("#dform").dialog({
							height: 500,
							width: 700,
							buttons :{
								"确认": function(){
									var item = $(':radio[name="db"]:checked').val();
									$("#sip").val(item);
									$(this).dialog("close");
								},
								"关闭" : function(){
									$(this).dialog("close");
								}
							}
						})
					}
				})
				
			},
			
			historyshow : function(page) {
				if($('#codeValue').val()==''){
					alert('请输入角色名');return false;
				}
				$.ajax({
						type : 'POST',
						url : '<{$logicApp}>/killBoss/getHistoryLog',
						dataType : 'json',
						data : {
							ip : $("#sip").val(),
							startDate : $('#startdate').val(),
							endDate :	$('#enddate').val(),
							code : $('#code').val(),
							codeValue:$('#codeValue').val(),
							pageSize : $("#menu").val(),
							curPage : page
						},
						beforeSend : function() {
							$("#dtatr_body").html("<tr><td colspan='11'><img src='<{$res}>/images/loading.gif'/></td></tr>");
						},
						success : function (data) {
							
							$("#example_length").show();
							var result = data.result;
							if(typeof(result) != 'undefined' && result.length > 0) {
								var tbody = "";
								for(var i in result) {
									tbody += "<tr>";
									tbody += "<td>" + result[i]["date"] + "</td>";
									tbody += "<td>" + result[i]["playid"] + "</td>";
									tbody += "<td>" + result[i]["playername"] + "</td>";
									tbody += "<td>" + result[i]["bossid"] + "</td>";
									tbody += "<td>" + result[i]["bossname"] + "</td>";
									tbody += "</tr>";
								}
								$("#dtatr_body").html(tbody);
								$("#pagehtml").html(data.pageHtml);		//分页
								$('#orderKey').val('');
							}else {
								$("#example_length").hide();
								$("#pagehtml").html("");
								$("#dtatr_body").html("<tr><td colspan='11'>没有数据！</td></tr>");
							}
						},
						error : function () {
							$("#example_length").hide();
							$("#pagehtml").html("");
							$("#dtatr_body").html("<tr><td colspan='11'>没有数据！</td></tr>");
						}
					})			
			},
			
			show : function(page) {
				if($('#codeValue').val()==''){
					alert('请输入角色名');return false;
				}
				$.ajax({
						type : 'POST',
						url : '<{$logicApp}>/killBoss/getCurrentLog',
						dataType : 'json',
						data : {
							ip : $("#sip").val(),
							code : $('#code').val(),
							codeValue:$('#codeValue').val()
						},
						beforeSend : function() {
							$("#dtatr_body").html("<tr><td colspan='11'><img src='<{$res}>/images/loading.gif'/></td></tr>");
						},
						success : function (data) {
							//$("#example_length").show();
							var result = data.result;
							if(typeof(result) != 'undefined' && result.length > 0) {
								var tbody = "";
								for(var i in result) {
									tbody += "<tr>";
									tbody += "<td>" + result[i]["date"] + "</td>";
									tbody += "<td>" + result[i]["playid"] + "</td>";
									tbody += "<td>" + result[i]["playername"] + "</td>";
									tbody += "<td>" + result[i]["bossid"] + "</td>";
									tbody += "<td>" + result[i]["bossname"] + "</td>";
									tbody += "</tr>";
								}
								$("#dtatr_body").html(tbody);
								//$("#pagehtml").html(data.pageHtml);		//分页
								$('#orderKey').val('');
							}else {
								$("#example_length").hide();
								$("#pagehtml").html("");
								$("#dtatr_body").html("<tr><td colspan='11'>没有数据！</td></tr>");
							}
						},
						error : function () {
							$("#example_length").hide();
							$("#pagehtml").html("");
							$("#dtatr_body").html("<tr><td colspan='11'>没有数据！</td></tr>");
						}
					})
			
			}
		}
		
		
		$(document).ready(function(){
			recharge_query.INIT();
			//recharge_query.show(1);
		})
		
		
		//跳到相应页面 
		var go = function(){
			var pagenum = $("#page").val();
			if(pagenum=='' || isNaN(pagenum) || pagenum <= 0){
				alert('请输入一个正整数！');
				$("#page").val(1);
			}else{
				//recharge_query.show(pagenum);
				formAjax(pagenum);
			}
		}
		
		//分页ajax函数
		var formAjax = function(page){
			recharge_query.historyshow(page);
		}
	</script>
</body>
</html>