<!DOCTYPE html>
<html>
<head>
<title>玩家邮件查询</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="<{$res}>/css/skin.css" rel="stylesheet" type="text/css">
	<link href="<{$res}>/css/jquery-ui.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EEF2FB;
	font-size: 12px;
}
-->
</style>
</head>
<body>
	<div>
		<div>
			<div>
				<table class="explain">
					<thead>
					</thead>
					<tbody style="font-family:Mingliu">
						<tr>
							<td width="5%"  class="tableleft"><b>说明：</b></td>
						</tr>
						<tr>
							<td width="95%" class="tableleft">1、输入发件人或者收件人ID/名字，即可搜索到对应的邮件操作日志</td>
						</tr>
						<tr>
							<td width="95%" class="tableleft">2、实时查询不支持模糊查询</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="topinfo">
				<div>
					<span>服&nbsp;&nbsp;&nbsp;务&nbsp;&nbsp;&nbsp;器：</span>
					<select id="serverId">
							<{foreach from=$ipList item=ip}>
								<option value="<{$ip.s_id}>"><{$ip.s_name}></option>
							<{/foreach}>
							<option value="0" >全部</option>
						</select><br/><br/>
					发件人姓名：<input type="text" name="sendname" id="sendname"/>
					收件人姓名：<input type="text" name="recievename" id="recievename"/>
					物品ID/名称：<input type="text" name="goodsname" id="goodsname"/>
					<input type="button" value="查询" id="query"/>
					<input type="button" value="实时查询" id="curquery"/>
				</div>
			</div>
			
			<div style="clear:both"></div>
			
			<div id="tabs-1" class="tabitem">	
				<div>
					<table  class="mytable" cellspacing="0" align="center" id="dtable">
						<thead>
							<tr>
								<th width="50">发件人角色名</th>
								<th width="65">收件人角色名</th>
								<th width="65">物品ID</th>
								<th width="65">物品数量</th>
								<th width="65">物品名称</th>
								<th width="65">操作时间</th>
								<th width="65">类型</th>
							</tr>
						</thead>
						<tbody id="dtatr_body">
						</tbody>
					</table>
					
					<div id="pageShow"  style="display:none">
						<div id="pagehtml" style="float:right;margin-right:20px"></div>
						<div id="example_length" class="dataTables_length">
							<label>每页显示
								<select id="menu" name="example_length">
								<option value="10">10</option>
								<option value="25" selected="selected">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
								</select> 条记录
							</label>
						</div>
					</div>
					
				</div>
				
			</div>
			
			<div style="clear:both"></div>
		</div>
		
		<div style="height:50px">&nbsp;</div>
		
	</div>
	

	
	<!-- 服务器 -->
	<div id="sform"  style="display:none">
		<div class="ajaxform">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
				
				<{foreach key=key from=$ipList item=ip}>
					<{if $key%5 eq '0'}>
						<br/><br/>
					<{/if}>
						<input type="radio" name="db" value='<{$ip.s_id}>'  class="cbox"/><span><{$ip.s_name}></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<{/foreach}>
			</table>
		</div>
	</div>
	
    
	<script src="<{$res}>/js/jquery.js" type="text/javascript"></script>
	<script src="<{$res}>/js/jquery-ui.js" type="text/javascript"></script>
	<script src="<{$res}>/js/function.js" type="text/javascript"></script> 	
	<script type="text/javascript">
	$(document).ready(function(){		
		showTitle("充值数据分析:邮件操作日志");
		
        $("#serverId").change(function(){
            if ($("#serverId").val() == 0) {
                $("#sform").dialog({
                    height: 500,
                    width: 700,
                    buttons: {
                        "确认": function(){
                            var item = $(':radio[name="db"]:checked').val();
                            $("#serverId").val(item);
                            $(this).dialog("close");
                        },
                        "关闭": function(){
                            $(this).dialog("close");
                        }
                    }
                })
            }
        });
        
        $('#menu').change(function(){
        	getData(1);
        });
        
        $('#query').click(function(){
        	getData(1);
        });
        
        $('#curquery').click(function(){
        	$.ajax({
    			type : 'POST',
    			url : '<{$logicApp}>/playeremail/getCurData',
    			dataType : 'json',
    			data : {
    				serverId : $("#serverId").val(),
    				sendname : $('#sendname').val(),
    				goodsname : $('#goodsname').val(),
    				recievename : $('#recievename').val()
    			},
    			beforeSend : function() {
    				$('#pageShow').hide();
    				$("#dtatr_body").html("<tr><td colspan='11'><img src='<{$res}>/images/loading.gif'/></td></tr>");
    			},
    			success : function (data) {
    				var result = data.list;
    				if(result!=null&&result!='') {
    					var tbody = "";
    					for(var i in result) {
    						tbody += "<tr>";
    						tbody += "<td>" + result[i]["send_name"] + "</td>";
    						tbody += "<td>" + result[i]["recieve_name"] + "</td>";
    						tbody += "<td>" + result[i]["item_id"] + "</td>";
    						tbody += "<td>" + result[i]["item_count"] + "</td>";
    						tbody += "<td>" + result[i]["goodsname"] + "</td>";
    						tbody += "<td>" + result[i]["datetime"] + "</td>";
    						tbody += "<td>" + result[i]["type"] + "</td>";
    						tbody += "</tr>";
    					}
    					$("#dtatr_body").html(tbody);
    					$("#dtatr_body tr:odd").css( "background-color", "#e0f0f0");
    					$('#pageShow').show();
    					$('#pagehtml').html(data.pageHtml);
    				}else {
    					$("#dtatr_body").html("<tr><td colspan='11'>没有数据！</td></tr>");
    				}
    			},
    			error : function () {
    				$("#dtatr_body").html("<tr><td colspan='11'>请求失败！</td></tr>");
    			}
    		});
        });
        
	});
	
	function getData(curPage){
		$.ajax({
			type : 'POST',
			url : '<{$logicApp}>/playeremail/getData',
			dataType : 'json',
			data : {
				serverId : $("#serverId").val(),
				sendname : $('#sendname').val(),
				goodsname : $('#goodsname').val(),
				recievename : $('#recievename').val(),
				curPage : curPage,
				pageSize : $('#menu').val()
			},
			beforeSend : function() {
				$('#pageShow').hide();
				$("#dtatr_body").html("<tr><td colspan='11'><img src='<{$res}>/images/loading.gif'/></td></tr>");
			},
			success : function (data) {
				var result = data.list;
				if(result!=null&&result!='') {
					var tbody = "";
					for(var i in result) {
						tbody += "<tr>";
						tbody += "<td>" + result[i]["send_name"] + "</td>";
						tbody += "<td>" + result[i]["recieve_name"] + "</td>";
						tbody += "<td>" + result[i]["item_id"] + "</td>";
						tbody += "<td>" + result[i]["item_count"] + "</td>";
						tbody += "<td>" + result[i]["goodsname"] + "</td>";
						tbody += "<td>" + result[i]["datetime"] + "</td>";
						tbody += "<td>" + result[i]["type"] + "</td>";
						tbody += "</tr>";
					}
					$("#dtatr_body").html(tbody);
					$("#dtatr_body tr:odd").css( "background-color", "#e0f0f0");
					$('#pageShow').show();
					$('#pagehtml').html(data.pageHtml);
				}else {
					$("#dtatr_body").html("<tr><td colspan='11'>没有数据！</td></tr>");
				}
			},
			error : function () {
				$("#dtatr_body").html("<tr><td colspan='11'>请求失败！</td></tr>");
			}
		});
	}
	
	function go(){
		var pagenum = $("#page").val();
		if(pagenum=='' || isNaN(pagenum) || pagenum <= 0){
			alert('请输入一个正整数！');
			$("#page").val(1);
		}else{
			getData(pagenum);
		}
	}
	</script>
</body>
</html>