<!DOCTYPE html>
<html>
    <head>
        <title>发送邮件</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="__CSS__/skin.css" rel="stylesheet" type="text/css">
        <link href="__CSS__/jquery-ui.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        <!--body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            background-color: #EEF2FB;
            font-size: 12px;
        }
        -->
        </style>
    </head>
    <body>
        <div>
            <div id="tabs-1" class="tabitem">
                <div>
                    <table class="explain">
                        <thead>
                        </thead>
                        <tbody style="font-family:Mingliu">
                            <tr>
                                <td width="5%" class="tableleft">
                                    <b>说明：</b>
                                </td>
                            </tr>
                            <tr>
                                <td width="95%" class="tableleft">
                                    1、输入角色名给游戏对应玩家发送邮件，选择
                                    <font color = "red">
                                        <b>全服</b>
                                    </font>时不需要输入任何角色名;谨慎使用
                                    <font color = "red">
                                        <b>全服</b>
                                    </font>发送邮件！
                                </td>
                            </tr>
							<tr>
                                <td width="95%" class="tableleft">
                                    2、发送邮件所填写的元宝和铜币均为绑定
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="toptable">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="5%" class="tableright">
                                    <span>服务器：</span>
                                </td>
                                <td width="95%" class="tableleft">
                                    <select id="serverId">
                                        <volist name="serverList" id="sl">
                                            <option value="{$sl['g_id']}">{$sl['g_name']}</option>
                                        </volist>
                                        <option value="0">全部</option>
                                    </select>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
									<input type="checkbox" id="task">定时发送:
									<input type="text" id="timer" value="{$today}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="input1" onblur="this.className='input-text'" onfocus="this.className='input-text-bor'">
                                </td>
                            </tr>
                            <tr>
                                <td width="5%" class="tableright">
                                    <select id="srole">
                                        <option value="1" checked='checked'>角色名</option>
                                        <option value="2">全服</option>
                                    </select>
                                </td>
                                <td width="95%" class="tableleft">
                                    <input type="input" class="input1" id="rolename" size="115"/>
                                    <label>
                                        <font color="red">
                                            <i><b>注</b>：批量账号则用英文分号隔开区分,例子:a;b;c</i>
                                        </font>
                                    </label>
                                </td>
                            </tr>
                            <tr id="level_info" style="display:none">
                                <td width="100%" colspan="2" style="padding:0px">
                                    <table cellspacing = "0" cellpadding = "0" border="0" width="100%">
                                        <tr>
                                            <td width="5%" class="tableright">
                                                <span>最小等级：</span>
                                            </td>
                                            <td width="95%" class="tableleft">
                                                <input type="input" class="input1" size="5" value="0" id="minLv"/>
                                                <font color="red">
                                                    <i><b>注</b>：默认为 0</i>
                                                </font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="5%" class="tableright">
                                                <span>最大等级：</span>
                                            </td>
                                            <td width="95%" class="tableleft">
                                                <input type="input" class="input1" size="5" value="100" id="maxLv"/>
                                                <font color="red">
                                                    <i><b>注</b>：默认为100</i>
                                                </font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="5%" class="tableright">
                                                <span>邮件接收截止时间：</span>
                                            </td>
                                            <td width="95%" class="tableleft">
                                                <input type="input" class="input1" size="5" id="emailTime" value="15"/>
                                                <select id="day">
                                                    <option value="1">天</option>
                                                    <option value="2">周</option>
                                                    <option value="3">时</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="5%" class="tableright">
                                                <span>目标用户：</span>
                                            </td>
                                            <td width="95%" class="tableleft">
                                                <input type="radio" value="1" name ="rad" checked="checked" id="tableleftall"/>
												<label for="tableleftall">全部</label>
												&nbsp;&nbsp;&nbsp;
												<input type="radio" name ="rad" value="2" id="tableleftonline"/>
												<label for="tableleftonline">在线用户</label>
												&nbsp;&nbsp;&nbsp;
												<input type="radio" name ="rad" value="3" id="tableleftleave"/>
												<label for="tableleftleave">离线用户</label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td width="5%" class="tableright">
                                    <span>发送原因：</span>
                                </td>
                                <td width="95%" class="tableleft">
                                    <textarea cols="100" rows="2" class="input1" id="reason">系统邮件</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td width="5%" class="tableright">
                                    <span>标题：</span>
                                </td>
                                <td width="95%" class="tableleft">
                                    <div>
                                        (可留空，默认为<b>"系统邮件"</b>)
                                    </div>
                                    <div>
                                        <input type="text" size="115" class="input1" id="title" value="系统邮件"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="5%" class="tableright">
                                    <span>信件内容：</span>
                                </td>
                                <td width="95%" class="tableleft">
                                    <label>
                                        <textarea cols="100" rows="2" class="input1" id="content">系统邮件</textarea>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td width="7%" class="tableright">
                                    <span>申请赠送金额：</span>
                                </td>
                                <td width="93%" class="tableleft">
                                    <span>元宝：</span>
                                    <input type="text" size="10" class="input1" id="gold" value="0"/>
									<span>铜币：</span>
                                    <input type="text" size="10" class="input1" id="copper" value="0"/>
                                </td>
                            </tr>
							<tr>
								<td colspan="2">
									<label class="link">
                                        <input type="button" value="增加超链接" id="addlink"/>
                                    </label>
									<span><input type="button" value="发送" id="sendbtn"/></span>
									<input type="button" value="刷新页面查看处理结果" onclick="getEmailList(1);"/>
								</td>
							</tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="mytable">
                        <thead>
                            <tr>
                                <th width="60">服务器</th>
                                <th width="80">角色名</th>
                                <th width="80">操作时间</th>
                                <th width="80">发送原因</th>
                                <th width="80">发送时间</th>
                                <th width="100">标题</th>
                                <th>内容</th>
                                <th width="60">后端状态</th>
                                <th>失败原因</th>
                                <th width="60">操作者</th>
                            </tr>
                        </thead>
                        <tbody id="etbody">
                        </tbody>
                    </table>
                    <div id="pagehtml" style="float:right;margin-right:20px">
                    </div>
                    <div id="example_length" class="dataTables_length" style="display:none">
                        <label>
                            每页显示
                            <select id="menu" name="example_length" size="1" aria-controls="example">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            条记录
                        </label>
                    </div>
                </div>
            </div>
            <input type="hidden" value="" id="ids"/>
            <div id="form" style="display:none">
                <div class="ajaxform">
                    <table width="90%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
                        <tbody>
                            <tr>
                                <td width="20%" align="right">
                                    文字：
                                </td>
                                <td width="30%">
                                    <input type="text" class="input1" id="e_text">
                                </td>
                                <td width="30%">
                                    <span style="color:red">注：不能为空</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    链接：
                                </td>
                                <td>
                                    <input type="text" class="input1" id="e_link" value="http://">
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="hidden" id="s_temp" value="#00FFFF"/>
                </div>
            </div>
        </div>

		<!-- 服务器 -->
        <div id="sform" style="display:none">
            <div class="ajaxform">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
				<tr>
					<td>
					<volist name="serverList" id="sld" key="k">
                        <if condition="$k%5 eq 0">
                            <br/>
                            <br/>
                        </if>
                        <input type="radio" name="db" value="{$sld['g_id']}" class="cbox" id="s{$k}"/>
                        <label for="s{$k}">
                            {$sld['g_name']}
                        </label>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </volist>
					</td>
				</tr>
                </table>
            </div>
        </div>

    <script src="__STATIC__/jquery.js" type="text/javascript">
    </script>
    <script src="__JS__/jquery-ui.js" type="text/javascript">
    </script>
    <script src="__JS__/function.js" type="text/javascript">
    </script>
    <script src="__STATIC__/My97DatePicker/WdatePicker.js" type="text/javascript">
    </script>
	<script src="__STATIC__/kindeditor/kindeditor-all-min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            showTitle("GM工具:发送邮件");
			
            $("#serverId").change(function(){
                if ($("#serverId").val() == 0) {
                    $("#sform").dialog({
                        height: 500,
                        width: 700,
                        buttons: {
                            "确认": function(){
                                var item = $(':radio[name="db"]:checked').val();
                                $("#serverId").val(item);
								getEmailList(1);
                                $(this).dialog("close");
                            },
                            "关闭": function(){
                                $(this).dialog("close");
                            }
                        }
                    })
                }else {
					getEmailList(1);
				}
            });
			
			$("#menu").change(function(){
				getEmailList(1);
			});
			getEmailList(1);
			
            //增加超链接
            $("#addlink").click(function(){
                var obj = $("#content").selection();
                var select_text = obj["text"]; //textarea选中文本
                var start = obj["start"]; //选中文本初始位置
                var end = obj["end"]; //选择文本结束位置
                $("#e_text").val("");
                $("#e_link").val("http://");
                $("#e_text").val(select_text);
                
                $("#form").dialog({
                    height: 200,
                    width: 550,
                    buttons: {
                        '确认': function(){
                            var textarea_val = $("#content").val();
                            var f_part = textarea_val.substring(0, start);
                            var l_part = textarea_val.substring(end);
                            var text = $("#e_text").val();
                            var link = $("#e_link").val();
                            var color = $("#s_temp").val();
                            var replace_text = "<font color='" + color + "'><a href='" + link + "' target='_blank'><u>" + text + "</u></a></font>";
                            if(text==''){
								alert('链接文字不能为空！');return false;
							}
							
							//var replace_text = link;
                            var new_text = f_part + replace_text + l_part;
                            $("#content").val(new_text);
                            
                            $(this).dialog("close");
                            
                            if ($("#content")[0].selectionStart != "undefined") {
                                $("#content").focus();
                                $("#content")[0].selectionStart = start + replace_text.length;
                                $("#content")[0].selectionEnd = start + replace_text.length;
                            }
                        },
                        '取消': function(){
                            $(this).dialog("close");
                        }
                    }
                })
            });
			
            //发送邮件
            $("#sendbtn").click(function(){
                if ($("#task").is(":checked")) {
                    var tasktime = $("#timer").val();
                }
                else {
                    var tasktime = 0;
                }
                var gold = $("#gold").val(); //元宝
                var copper = $("#copper").val(); //铜币
                var state = $(':radio[name="rad"]:checked').val();
                var rolename = $("#rolename").val();
                var serverId = $("#serverId").val();
                var reason = $("#reason").val();
                var title = $("#title").val();
                var content = $("#content").val();
                var srole = $('#srole').val();
                var minLv = $('#minLv').val();
                var maxLv = $('#maxLv').val();
                var emailTime = $('#emailTime').val();
                var day = $('#day').val();
				if(srole==1&&rolename==''){
					alert('用户名不能为空！');return false;
				}
				if(content==''&&gold==0&&copper==0){
					alert('发送内容不能为空！');return false;
				}
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "{:U('SendEmail/sendEmail')}",
                    data: {
                        rolename: rolename,
                        serverId: serverId,
                        reason: reason,
                        title: title,
                        content: content,
                        srole: srole,
                        minLv: minLv,
                        maxLv: maxLv,
                        emailTime: emailTime,
                        tasktime: tasktime,
                        state: state,
                        gold: gold,
                        copper: copper,
                        day: day
                    },
                    beforeSend: function(){
                        $("#etbody").html("<tr><td colspan='9'><img src='__IMG__/loading.gif'/></td></tr>");
                    },
                    success: function(data){
                        alert(data.info);
						if(data.status){
							window.location.reload();
						}
                    }
                });
            });
            
            //全服和角色切换
            $('#srole').change(function(){
                var srole = $('#srole').val();
                if ('1' == srole) {
                    $('#rolename').val("");
                    $('#rolename').removeAttr("disabled");
                    $('#rolename').css("background-color", "#FFFFFF");
                    $('#level_info').hide();
                }else if ('2' == srole) {
                        $('#rolename').val("");
                        $('#rolename').attr("disabled", "disabled");
                        $('#rolename').css("background-color", "#CCCCCC");
                        $('#level_info').show();
                    }
            });
			
        });
		
		function getEmailList(page){
			$.ajax({
                type: "POST",
                dataType: "json",
                url: "{:U('SendEmail/getEmailList')}",
                data: {
                    serverId: $("#serverId").val(),
                    pageSize: $("#menu").val(),
                    curPage: page
                },
                beforeSend: function(){
                    $("#etbody").html("<tr><td colspan='9'><img src='__IMG__/loading.gif'/></td></tr>");
                },
                success: function(data){
                    var list = data.list;
					var serverList = data.serverList
                    if (list!=null&&list!='') {
                        var tbody = "";
                        for (var i in list) {
                            var model = "noclass";
                            switch (parseInt(list[i]["e_result"])) {
                                case 0:
                                    list[i]["e_result"] = "正在处理";
                                    break;
                                case 1:
                                    list[i]["e_result"] = "成功";
                                    break;
                                case 2:
                                    list[i]["e_result"] = "失败";
                                    model = "fail";
                                    break;
                                default:
                                    list[i]["e_result"] = "未知";
                                    model = "fail";
                            }
                            tbody += "<tr emailId='" + list[i]["e_id"] + "'>";
                            tbody += "<td>" + serverList[list[i]["e_ip"]]['g_name'] + "</td>";
                            tbody += "<td>" + list[i]["e_name"] + "</td>";
                            tbody += "<td>" + list[i]["e_time"] + "</td>";
                            tbody += "<td>" + list[i]["e_reason"] + "</td>";
                            tbody += "<td>" + list[i]["e_tasktime"] + "</td>";
                            tbody += "<td>" + list[i]["e_title"] + "</td>";
                            tbody += "<td>" + list[i]["e_content"] + "</td>";
                            tbody += "<td class='" + model + "'>" + list[i]["e_result"] + "</td>";
                            tbody += "<td>" + list[i]["CmCmdResult"] + "</td>";
                            tbody += "<td>" + list[i]["e_operaor"] + "</td>";
                            tbody += "</tr>";
                        }
						$('.choose').bind('click');
                        $("#etbody").html(tbody);
						$("#etbody tr:odd").css("background-color", "#edf2f7");
                        $("#example_length").show();//显示每页
                        $("#pagehtml").html(data.pageHtml);
                    }else {
                        $("#etbody").html("<tr><td colspan='9'>没有数据！</td></tr>");
                    }
                },
                error: function(){
                    $("#etbody").html("<tr><td colspan='9'>没有数据！</td></tr>");
                }
			});
		}
		
		//跳到相应页面 
        var go = function(){
            var pagenum = $("#page").val();
            if (pagenum == '' || isNaN(pagenum) || pagenum <= 0) {
                alert('请输入一个正整数！');
                $("#page").val(1);
            }
            else {
                getEmailList(pagenum);
            }
        }
		
        $.fn.selection = function(){
            var s, e, range, stored_range;
            if (this[0].selectionStart == undefined) {
                var selection = document.selection;
                if (this[0].tagName.toLowerCase() != "textarea") {
                    var val = this.val();
                    range = selection.createRange().duplicate();
                    range.moveEnd("character", val.length);
                    s = (range.text == "" ? val.length : val.lastIndexOf(range.text));
                    range = selection.createRange().duplicate();
                    range.moveStart("character", -val.length);
                    e = range.text.length;
                }
                else {
                    range = selection.createRange(), stored_range = range.duplicate();
                    stored_range.moveToElementText(this[0]);
                    stored_range.setEndPoint('EndToEnd', range);
                    s = stored_range.text.length - range.text.length;
                    e = s + range.text.length;
                }
            }
            else {
                s = this[0].selectionStart, e = this[0].selectionEnd;
            }
            var te = this[0].value.substring(s, e);
            return {
                start: s,
                end: e,
                text: te
            };
        };
    </script>
    </body>
</html>
